body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

/* === HEADER === */
header {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.section-paginas h2{
    background: #fff;
    padding: 30px 15px;
    text-align: center;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 12px;
    width: 220px;
    background: #fafafa;
    text-align: center;
}


.card img {
    width: 100%;
    border-radius: 4px;
}
